$mainFont: 'Barlow', sans-serif;
$secondaryFont: 'Oswald', sans-serif;
$ResPurple: #b10dc9;
$ResDarkPurple: #570463;
$ResWhite: #F7F7F3;
$ResLighterGrey: #272727;
$ResGrey: #131112;
$ResSmoke: #0B0909;
$ResBlack: #000;
$ResCream: #F2F6D0;
$ResSmokeyBlack: #0F0A0A;
$ResOrange: #D96C06;
$ResCaution: #FFD700;
$ResWarning: #B3001B;
$ResSky: #6CD4FF;
$ResBlue: #0E6CD4;
$ResOffWhite: rgba(247, 247, 243, 0.5);
$ResBorder: rgba(247, 247, 243, 0.25);
$ResBorderLight: rgba(247, 247, 243, 0.1);
$ResShadow: rgba(0, 0, 0, 0.25);
$ResShadowDark: rgba(0, 0, 0, 0.5);
$ResShadowLight: rgba(0, 0, 0, 0.1);
$ResRoundedEdges: 5px;
$mainFontSize: 14px;
$mainFont: Quicksand;